mat-card {
    max-width: 300px;
    margin-bottom: 10px;
}
  
mat-form-field {
    display: block;
}

table {
    width: 100%;
}

h2 {
    color: black;
}

.options .mat-radio-button{
    margin: 5px 12px;
}

.table-container {
    height: 450px;
    max-width: 100%;
    overflow: auto;
}

.action-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) { 
    .table-container {
        height: 400px;
        width: 550px;
        max-width: 100%;
        overflow: auto;
    }

    table {
        width: 800px;
    }

    td.mat-column-star {
        width: 20px;
        padding-right: 8px; 
    }
    
    th.mat-column-position, td.mat-column-position {
        padding-left: 8px;
    }
    
    .mat-table-sticky:first-child {
        border-right: 1px solid #e0e0e0;
    }
    
    .mat-table-sticky:last-child {
        border-left: 1px solid #e0e0e0;
    }
}